<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATr_MO-Kikq5LSQ8iP7bU3AvDIarOp81E</string>
	<key>GCM_SENDER_ID</key>
	<string>888112026414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tafs.app</string>
	<key>PROJECT_ID</key>
	<string>tafs-bb6c4</string>
	<key>STORAGE_BUCKET</key>
	<string>tafs-bb6c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888112026414:ios:6f68c08cf2a10f956e60bf</string>
</dict>
</plist>
